@charset "UTF-8";

#wrap{
	width:1200px;
	height:1000px;
	margin:auto;
}
#header{
	width:1200px;
	height:100px;
	background-color: yellow;
}
#side{
	width:300px;
	height:600px;
	background-color: lightblue;
	float:left;
}
#content{
	width:900px;
	height:600px;
	background-color: orange;
	float:left;
	overflow: auto;
}
#footer{
	width:1200px;
	height:200px;
	background-color: pink;
	clear:both;
}