<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <typeAliases>
  	<typeAlias type="com.jhta.bonfire.vo.TestVo" alias="Test"/>
  	<typeAlias type="com.jhta.bonfire.vo.CatsVo" alias="cats"/>
  	<typeAlias type="com.jhta.bonfire.vo.SubBoardVo" alias="subboard"/>
  	<typeAlias type="com.jhta.bonfire.vo.Feedboard_fbjoinVo" alias="fjoin"/>
  	<typeAlias type="com.jhta.bonfire.vo.FeedboardVo" alias="feedboard"/>
  	<typeAlias type="com.jhta.bonfire.vo.FbcommentVo" alias="fbcomment"/>
  	<typeAlias type="com.jhta.bonfire.vo.FbhitsVo" alias="fbhits"/>
  	<typeAlias type="com.jhta.bonfire.vo.FbfilesVo" alias="file"/>
  	<typeAlias type="com.jhta.bonfire.vo.FbrecommVo" alias="fbrecomm"/>
  	<typeAlias type="com.jhta.bonfire.vo.BMembersVo" alias="bmembers"/>
  </typeAliases>
  <mappers>
  	<!-- 읽어올 Mapper파일 설정 -->
    <mapper resource="com/jhta/bonfire/mapper/TestMapper.xml"/>
    <mapper resource="com/jhta/bonfire/mapper/CatsMapper.xml"/>
    <mapper resource="com/jhta/bonfire/mapper/SubBoardMapper.xml"/>
    <mapper resource="com/jhta/bonfire/mapper/FeedboardMapper.xml"/>
    <mapper resource="com/jhta/bonfire/mapper/BMembersMapper.xml"/>
 
  </mappers>
</configuration>