<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jhta.bonfire.mapper.BMembersMapper">
	<insert id="insert" parameterType="bmembers">
		insert into bmembers values(#{id},#{pwd},#{name},#{email},#{birth},#{gender},#{phone},#{address},1,sysdate)
	</insert>
	<select id="isMember" parameterType="hashmap" resultType="hashmap">
		select * from bmembers where id=#{id} and pwd=#{pwd}
	</select>
</mapper>