<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jhta.bonfire.mapper.CatsMapper">
    <select id="catList" resultType="string" parameterType="string">
        select cname from cats where cwhichboard=#{cwhichboard}
    </select>
</mapper>