<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jhta.bonfire.mapper.FeedMapper">
	<select id="feedCheck" parameterType="String" resultType="hashmap">
		select * from bmembers where id=#{feedId}
	</select>
	<select id="roleCheck" parameterType="String" resultType="String">
		select authority from auth where id=#{feedId}
	</select>
	
</mapper>