<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jhta.bonfire.mapper.FeedboardMapper">

<!-- 모든 id 여행게시글 목록 -->
	<sql id="search1">
		<if test="field=='title' or field=='content'or field=='id'">
  			where ${field} like '%'||#{keyword}||'%'
  		</if>
		<if test="field=='toc'">
  			where title like '%'||#{keyword}||'%' or content like '%'||#{keyword}||'%'
  		</if>
	</sql>
	
	<select id="count" resultType="int" parameterType="hashmap">
		select NVL(count(*),0) cnt from feedboard
		<include refid="search1"/>
	</select>
	<select id="selectAll" resultType="feedboard" parameterType="hashmap">
		select * from
		(
 			select a.*,rownum rnum from 
 			(
  				select * from feedboard
  				<include refid="search1"/>
  				order by num desc
  			) a
  		)
		<![CDATA[ where rnum>=#{startRow} and rnum<=#{endRow}  ]]>
	</select>

<!-- 특정 id 여행게시글 목록 -->
	<sql id="search2">
		<if test="field=='title' or field=='content' or field=='cname'">
  			and ${field} like '%'||#{keyword}||'%'
  		</if>
		<if test="field=='toc'">
  			and title like '%'||#{keyword}||'%' or content like '%'||#{keyword}||'%'
  		</if>
	</sql>
	
	<select id="countbyId" resultType="int" parameterType="hashmap">
		select NVL(count(*),0) cnt from feedboard
		where id=#{id}
		<include refid="search2"/>
	</select>
	
	<select id="selectAllbyId" resultType="feedboard" parameterType="hashmap">
		select * from
		(
 			select a.*,rownum rnum from 
 			(
  				select * from feedboard
  				where id=#{id}
  				<include refid="search2"/>
  				order by num desc
  			) a
  		)
		<![CDATA[ where rnum>=#{startRow} and rnum<=#{endRow}  ]]>
	</select>
	<!-- 하나의 글/댓글/추천/조회수/스크랩 -->
	<select id="selectOne" resultType="feedboard">
		select * from feedboard where num=#{num}
	</select>
	
	<resultMap type="fbcomment" id="commList">
		<result property="idx" column="idx"/>
		<result property="num" column="num"/>
		<result property="id" column="id"/>
		<result property="content" column="content"/>
		<result property="adddate" column="adddate"/>
	</resultMap>
	
	<select id="showComm" resultMap="commList">
		select * from fbcomment where num=#{num} order by idx desc
	</select>
	<insert id="insertComm" parameterType="fbcomment">
		insert into fbcomment values(fbcomment_seq.nextval,#{num},#{id},#{content},sysdate)
	</insert>
	<delete id="deleteComm" parameterType="int">
		delete from fbcomment where idx=#{idx}
	</delete>


	<insert id="insertRecomm">
		insert into recomm values(#{num},#{id},#{value},sysdate)
	</insert>
	<update id="updateRecomm">
		update feedboard set recommend = recommend + 1 where num=#{num}
	</update>
	<update id="cancelRecomm">
		update feedboard set recommend= recommend -1 where num=#{num} 
	</update>
	<select id="selectRecommTot" resultType="int">
		select recommend from feedboard where num=#{num}
	</select>
	<select id="selectRecomm" parameterType="hashmap"  resultType="int">
		select NVL(sum(value),0) r from recomm where num=#{num} and id=#{id}
	</select>

	
	<select id="selectHits" parameterType="hashmap" resultType="hashmap">
		select * from fbhits where num=#{num} and id=#{id}
	</select>
	<insert id="insertHits" parameterType="hashmap">
		insert into fbhits values(#{num},#{id})
	</insert>
	<update id="updateHits">
		update feedboard set hits = hits + 1 where num=#{num}
	</update>

	
	<insert id="insertScrap">
		
	</insert>
	<select id="selectScrap">

	</select>
	<insert id="deleteScrap">
	</insert>


	<insert id="insertPosting" parameterType="feedboard">
		insert into feedboard values (#{num},#{id},#{title},#{content},0,0,
		0,#{ispost},#{postdate},#{adddate},#{cname})
	</insert>
	
	<insert id="insertFile" parameterType="file">
		insert into fbfiles values (#{idx},#{num},#{savefilename},#{orgfilename})
	</insert>
	
	<delete id="deletePostingA">
		delete from fbcomment where num=#{num}
	</delete>
	<delete id="deletePostingB">
		delete from recomm where num=#{num}
	</delete>
	<delete id="deletePostingC">
		delete from fbhits where num=#{num}
	</delete>
	<delete id="deletePostingD">
		delete from scrapboard where num=#{num}
	</delete>
	<delete id="deletePostingE">
		delete from fbfiles where num=#{num}
	</delete>
	<delete id="deletePostingF">
		delete from feedboard where num=#{num}
	</delete>
</mapper>